h4 {
    margin: 0;
}
.activity-page {
    max-width: 100vw;
    height: calc(100% - var(--navbar-height));
    min-height: calc(100vh - var(--navbar-height));
    overflow-x: hidden;
}

.activity-page .content {
    max-width: 1100px;
    margin: 0 auto;
}

.activity-page, .activity-page .content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.activity-page p {
    font-size: 20px;
}

.activity-page .actions {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
}

.activity-page .actions .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 20px;
    gap: 20px;
}

.activity-page .actions h2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 45px;
    color: var(--d-pink)
}

.buttons .btn {
    font-size: 15px;
    font-family: Poppins;
    cursor: pointer;
    background: white;
}

.buttons .green {
    color: var(--green);
    border: 1.6px solid var(--green);
}

.buttons .purple {
    color: var(--purple);
    border: 1.6px solid var(--purple);
}

.buttons .plump {
    color: var(--plump);
    border: 1.6px solid var(--plump);
}

.activity-page .activity-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 380px;
    height: 220px;
    border-radius: 4px;
    position: relative;
    padding: 16px 32px;
    background: white;
    border-radius: 20px;
}

.activity-page .activity-feed .content .stats,
.activity-page .activity-feed .content .more-stats {
    display: flex;
    grid-gap: 10px;
    gap: 10px;
    margin-bottom: 15px;
}

.primary-statistic {
    font-size: 50px;
    color: #b7b7b7;
}

.green {
    border: 2.6px solid var(--green);
    box-shadow: 9px 4px 16px 5px rgba(238, 210, 204, 0.34);
}

.green-title {
    color: var(--green);
}

.purple {
    border: 2.6px solid var(--purple);
    box-shadow: 9px 4px 16px 5px rgba(238, 210, 204, 0.34);
}

.purple-title {
    color: var(--purple);
}

.plump {
    border: 2.6px solid var(--plump);
    box-shadow: 9px 4px 16px 5px rgba(238, 210, 204, 0.34);
}

.plump-title {
    color: var(--plump);
}
